@charset "utf-8";
/* CSS Document */
*{
			margin: 0;
			padding: 0;
		}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
	margin-bottom: 15px;
}
header button{	
	margin-top: 4px;
	background: #fff;
	padding: 5px 20px;;
	float: left;
	border-radius: 15px;	
}	
header button a{
	text-decoration: none;
	color: #333;
}
header h1{
		text-align: center;
	position: relative;
}
.container {
    display:contents;
    padding: 20px;
}

.car {
    text-align: center;
	margin: 20px;
}
.td  {
	border-bottom: solid 2px #FF9800;	
	float: left;
		}
.car-list {
	margin-top: 10px;	
	display: flex;	
	clear: right;
  justify-content: space-around;	
width: 100%;
height: auto;
}
.car img {
    width: 350px;
    height: 200px;
	border-radius: 15px;
}
.car h3 {
    margin-top: 15px;
}
.btn {
			padding: 10px 20px;
			color: #FFFFFF;
			margin-top: 15px;
			background:#FF9800;
			border-radius: 15px;
			border: #FF9800
}

