.register {
    background-image: url(../../img/intro-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;
    position: relative;
    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 25%;
        .card-header {
            h3 {
                text-align: center;
                font-size: 2.5rem;
                font-weight: bold;
                color: #fff;
                background-color: #00a8ff;
                padding: 0.8rem;
            }
        }
        .card-body {
            background-color: #00324f;
            form {
                margin: 0 auto;
                width: 80%;
                .card-input {
                    input {
                        border-radius: 10px;
                        border: none;
                        font-size: 14px;
                    }
                }
                .form-check {
                    color: #fff;
                    font-size: 14px;
                    span {
                        color: #00a8ff;
                    }
                }
                .form-btn {
                    text-align: center;
                    button {
                        font-size: 14px;
                        border-radius: 10px;
                        padding: 6px 20px;
                    }
                }
            }
        }
    }
}
